body, html {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  font-family: sans-serif;
}

.wrapper{
  width:900px;
  height:auto;
  margin:0 auto;
  position:relative;
  padding:0;
}

.content{
  width:800px;
  height:auto;
  float:left;
  padding:0;
  margin:0;
 
}

.sidebar {
  float:left;
  width: 10em;
  font-family: sans-serif;
  font-size: 12px;
  border-right: 1px solid #8BE2F7;
  background-color:#E2E7E8 ;
  text-align: left;
  padding-right: 15px;
  margin: 0 auto;
  text-decoration: none;
}

h3 {
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  color: #54595d;
  
}

ul {
  list-style: none;
  text-align: left;
}

.head {
  
  margin-left: 4px;
  margin-bottom: 4px;
  padding: 6px;
}

.navbar-info ul {
  float: right;
  display: table;
}

.navbar-info li {
  display: table-cell;
  padding: 3px;
  margin: 0;
  font-size: 14px;
}

a {
  text-decoration: none;
  
}

p {
  font-size:14px;
}

img {
  float:left;
  margin-right: 4px;
}

.jumbotron {
  margin-left: 15%;
}


.display-4 {
  font-size: 25px;
  font-weight: 600;
}

span {
  color:blue;
}


.col-6 {
  background-color: #CEE9D9;
  border: 2px solid #85ECAB;
  margin-right: 8px;
  margin-left: 8px;
}

.grn-head {
  background-color:#85ECAB ;
  border: 1px solid grey;
}

.col-5 {
  background-color:#CEE9E9 ;
  border: 2px solid #95E7EA;
}

.blu-head {
  background-color:#95E7EA ;
  border: 1px solid grey;
}

.col-11 {
  background-color:#E9D0E4;
  border: 2px solid #EAB1DD;
  margin-left: 8px;
  margin-top: 8px;
}

.pink-title {
  background-color:#EAB1DD ;
  border: 1px solid grey;
}

.col-11 p {
  font-size: 14px;
}